.dropdown-list label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 600;
}

.dropdown-list select {
    background-color: #ffff;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    margin-bottom: 24px;
}