.team {
    text-align: center;
    padding: 22px;
}

.team h3 {
    font-size: 32;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 4px;
}

.team .students-cards {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16px;
}